.c-submission-mismatch-container
.isic-submission-form
  .form-group
    label A brief description of your algorithm’s approach
    span.isic-submission-form-example e.g. "ResNet ensemble with normalized images"
    input.c-submission-approach-input.isic-submission-approach-input.form-control.typeahead(
    type='text', data-provide='typeahead', autocomplete='off', maxlength=maxTextLength, value=approach)
  .form-group
    label Your team's name
    span.isic-submission-form-example e.g. "RECOD Titans / UNICAMP"
    input.c-submission-organization-input.form-control(
      type='text', maxlength=maxTextLength, value=organization)
  .form-group
    label Website URL for your team
    span.isic-submission-form-example e.g. "https://recodbr.wordpress.com/"
    input.c-submission-organization-url-input.form-control(
      type='text', maxlength=maxUrlLength, value=organizationUrl)
  .form-group
    label URL for your arXiv abstract
    span.isic-submission-form-example e.g. "https://arxiv.org/abs/1703.04819"
    input.c-submission-documentation-url-input.form-control(
      type='text', maxlength=maxUrlLength, value=documentationUrl)
  h4.isic-section-header External data
  label.radio-inline
    input.isic-submission-external-datasources-input(
      type='radio', name='c-external-datasources', value='yes', checked=usesExternalData)
    | yes
  label.radio-inline
    input.isic-submission-external-datasources-input(
    type='radio', name='c-external-datasources', value='no', checked=!usesExternalData)
    | no
  label.radio-inline
    | Did you use any external data sources?
  h4.isic-section-header Data sharing policy
  .checkbox
    label
      input.isic-submission-allow-share-input(type='checkbox')
      | Do you agree to allow us to share and use your submission for additional research?
.c-submission-validation-error
h4.isic-section-header Upload output files
.c-submit-upload-widget
